@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;  
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.container{
max-width: 1170px;
margin: auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding :0 15px;
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight:500;
    position: relative;
}
.footer-col h4:before{
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;

}

.footer-col ul.links li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight:300;
    color:#bbbbbb;
    display: block;
    transition: all 0.3s ease;

}
.footer-col ul.links li a:hover{
color:#ffffff;
padding-left:8px ;
}

.footer-col .Social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    color:chocolate;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
   
    transition: all 0.5s ease;
}
.footer-col .Social-links a:hover{
color:#24262b;
background-color:cyan;

}

hr{
    width: 70%;
 margin:30px 250px 40px 230px ;
}
.copyright
{
    color:#fff;
    text-align: center;

}
.icon img
{
   width: 100%;
}
.main-btn
{

    color:#fff;
    background-color:#3a6cf4; 
   text-decoration: none; 
   font-size: 1.1em;
   font-weight: 600;
   display: inline-block;
   padding: 0.9375em 2.1875em;
   letter-spacing: 1px;
   border-radius: 15px;
   margin-bottom: 40px;
   transition: 0.7s ease;
}

.main-btn:hover{
    background-color:#0a49f6 ;
    transform: scale(1.2);

}
.social-icons a
{
    
    display: inline-block;
    color:#fff;
    font-size: 1.7em;
    padding-right: 30px;
}
.title
{
    display: flex;
    justify-content: center;
    color:#3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;

}
.card1
{
    background-color:darkcyan;
width:18.2em;
box-sizing: border-box;
box-shadow: 0 5px 25px rgba(1 1 1 /15%);
border-radius: 10px;
padding: 25px;
margin: 15px;
transition: 0.7s ease;
}
.card1:hover
{
        transform: scale(1.1);
    color: black;
}
.icon{
    color:#3a6cf4;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3
{
color:#24262b;
font-size: 1.2em;
font-weight: 700;
margin: 10px;
}
.info h3:hover{
        transform: scale(1.1);
    color: black;
}
.icon img
{
   width: 100%;
}

header
{
background-color: #f0f0f0;
width:100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 13px 50px;
}
.logo
{
    text-decoration: none;
    color:#3a6cf4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    cursor: auto;
    font-weight: bold;
}
.navigation a{
    padding-left: 30px;
    text-decoration: none;
    color:#3a6cf4;
    transition: 0.8s;
    font-size: 1.2em;
    font-weight: 500;
    background-image: none;
    

}
.navigation a:hover{
color:#000000;

}
.navigation .checked{
    color: black;
}
section
{
    padding: 125px 85px;
}
.navigation a:hover{
font-size:23px;
color: #000000;
 }

 .navigation .checked{
    color: black;
 }