
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

header{
    background-color: #f0f0f0;
    width: 100%;
    z-index: 9999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 50px;
    background-image: none;
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color:#3a6cf4;
    font-size: 2em;
    transition: 0.8s;
    background-image: none;
    cursor:auto;

}

.logo:hover {
    color: black
}
.navigation .checked{
    color:black
}
.navigation a{
    padding-left: 30px;
    text-decoration: none;
    color:#3a6cf4;
    transition: 0.8s;
    font-size: 1.2em;
    font-weight: 500;
    background-image: none;
    

}

.navigation a:hover{

    color:black;
    font-size:23px;

}

.navigation{
    background-image: none;
}



section
{
    padding-top: 125px;
    z-index: 100;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 1000px;
    left: 0;
}

section .n1{

    width: 50%;
    display: flex;
    position: relative;
    flex-wrap: wrap;

}

section .n1 img{
position: absolute;
width: 100%;
height: 50%;
display: flex;

}

section .n1 .np1{
    top: 50%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;

}

section .n1 .np1 p{
margin: 20px 0px 20px 10px;
font-size: 20px;
text-align: center;
}


section .n1 .np1 .p1{
    color:red;
    font-weight: bold;
}